openapi: 3.0.0

info:
  title: COBIS API General
  description: 'This is the sample definition for generate Models.'
  version: 2.0.0
  termsOfService: http://swagger.io/terms/
  contact:
    name: KCLAB Support Team
    email: support.team@kclabs.com
    url: https://kclabs.com
  license:
    name: KCLABS API License
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.kclabs.com/labs
    description: Production server

x-amazon-apigateway-request-validators:
  all:
    validateRequestBody: true
    validateRequestParameters: true
  params-only:
    validateRequestBody: false
    validateRequestParameters: true

tags:
  - name: General 
    description: 'KC General Components API'
security:
  - api_key: []

paths:

  /general:
    get:
      security:
        - api_key: []
      x-amazon-apigateway-request-validator: all
      tags:
        - General
      summary: 'Consulta cliente o prospecto por el código COBIS del cliente.'
      description: 'Realiza la consulta de los datos básicos de un cliente o prospecto de tipo persona natural mediante el código COBIS.'
      operationId: GeneralGETAll
      parameters:
        # HEADER REQUEST
        - $ref: 'SOFKAGeneralComponents-v0-0-1.yaml#/components/parameters/x-request-id'
        - $ref: 'SOFKAGeneralComponents-v0-0-1.yaml#/components/parameters/x-ip-address'
        - $ref: 'SOFKAGeneralComponents-v0-0-1.yaml#/components/parameters/Authorization'
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: number
            format: int32
            default: 1
            minimum: 1
        - name: size
          in: query
          description: Page size
          required: false
          schema:
            type: number
            format: int32
            default: 10
            minimum: 5
      responses:
        200:
          description: OK
          headers:
            Access-Control-Allow-Methods:
              $ref: 'SOFKAGeneralComponents-v0-0-1.yaml#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: 'SOFKAGeneralComponents-v0-0-1.yaml#/components/headers/Access-Control-Allow-Origin'
            Access-Control-Allow-Headers:
              $ref: 'SOFKAGeneralComponents-v0-0-1.yaml#/components/headers/Access-Control-Allow-Headers'
            x-jws-signature:
              $ref: 'SOFKAGeneralComponents-v0-0-1.yaml#/components/headers/x-jws-signature'
            Content-Language:
              $ref: 'SOFKAGeneralComponents-v0-0-1.yaml#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: 'Hello World'


        400:
          $ref: 'SOFKAGeneralComponents-v0-0-1.yaml#/components/responses/Response400'
        401:
          $ref: 'SOFKAGeneralComponents-v0-0-1.yaml#/components/responses/Response401'
        403:
          $ref: 'SOFKAGeneralComponents-v0-0-1.yaml#/components/responses/Response403'
        404:
          $ref: 'SOFKAGeneralComponents-v0-0-1.yaml#/components/responses/Response404'
        409:
          $ref: 'SOFKAGeneralComponents-v0-0-1.yaml#/components/responses/Response409'
        429:
          $ref: 'SOFKAGeneralComponents-v0-0-1.yaml#/components/responses/Response429'
        500:
          $ref: 'SOFKAGeneralComponents-v0-0-1.yaml#/components/responses/Response500'
      x-amazon-apigateway-integration:
        type: mock

components:
  ####################################################################
  # Security schemas
  ####################################################################
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: x-api-key
      description: 'API Key asignado al cliente para el consumo del API.'

  schemas:

    # DTOS: API CUSTOMERS
    CustomerGETAllRs:
      type: object
      description: "Retorna una lista de los clientes registrados en el sistema."
      required:
        - customers
      properties:
        customers:
          type: array
          items:
            allOf:
              - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Customer"
              - type: object
            required:
              - id
              - name
              - identification
            properties:
              id:
                type: integer
                description: "Código interno del cliente.s"
                format: int64
                nullable: true
              name:
                type: string
                description: "Nombre y apellido del cliente."
                nullable: true
              genre:
                type: string
                description: "Género del cliente."
                nullable: true
              age:
                type: integer
                description: "Edad del cliente."
                nullable: true
              identification:
                type: string
                description: "Número de identificación del cliente (cédula)."
                nullable: true
              address:
                type: string
                description: "Dirección de residencia del cliente."
                nullable: true
              phone:
                type: string
                description: "Número de teléfono del cliente."
                nullable: true
              status:
                type: boolean
                description: "Estado del cliente. True: activo, False: inactivo."
                nullable: true

    CustomerGETByIdentificationRs:
      type: object
      description: "Respuesta del la consulta de un cliente por su identificación (número de cédula)"
      required:
        - customer
      properties:
        customer:
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Customer"
          required:
            - id
            - name
            - identification
          properties:
            id:
              type: integer
              description: "Código interno del cliente.s"
              format: int64
              nullable: true
            name:
              type: string
              description: "Nombre y apellido del cliente."
              nullable: true
            genre:
              type: string
              description: "Género del cliente."
              nullable: true
            age:
              type: integer
              description: "Edad del cliente."
              nullable: true
            identification:
              type: string
              description: "Número de identificación del cliente (cédula)."
              nullable: true
            address:
              type: string
              description: "Dirección de residencia del cliente."
              nullable: true
            phone:
              type: string
              description: "Número de teléfono del cliente."
              nullable: true
            status:
              type: boolean
              description: "Estado del cliente. True: activo, False: inactivo."
              nullable: true            

    CustomerGETByCodeRs:
      type: object
      description: "Respuesta del la consulta de un cliente por el código interno del sistema."
      required:
        - customer
      properties:
        customer:
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Customer"
          required:
            - id
            - name
            - identification
          properties:
            id:
              type: integer
              description: "Código interno del cliente.s"
              format: int64
              nullable: true
            name:
              type: string
              description: "Nombre y apellido del cliente."
              nullable: true
            genre:
              type: string
              description: "Género del cliente."
              nullable: true
            age:
              type: integer
              description: "Edad del cliente."
              nullable: true
            identification:
              type: string
              description: "Número de identificación del cliente (cédula)."
              nullable: true
            address:
              type: string
              description: "Dirección de residencia del cliente."
              nullable: true
            phone:
              type: string
              description: "Número de teléfono del cliente."
              nullable: true
            status:
              type: boolean
              description: "Estado del cliente. True: activo, False: inactivo."
              nullable: true 

    CustomerPSTRs:
      type: object
      description: "Retorna el código interno del cliente creado."
      required:
        - customer
      properties:
        customer:
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Customer"
          required:
            - id
          properties:
            id:
              type: integer
              description: "Código interno del cliente.s"
              format: int64
              nullable: true

    CustomerPSTRq:
      type: object
      description: "Datos necesarios para la creación de un nuevo cliente."
      required:
        - customer
      properties:
        customer:
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Customer"
          required:
            - name
            - identification
            - phone
            - password
            - age
            - status #TODO: Shouldn't be required
            - genre
            - address
          properties:
            name:
              type: string
              description: "Nombre y apellido del cliente."
            genre:
              type: string
              description: "Género del cliente."
            age:
              type: integer
              description: "Edad del cliente."
            identification:
              type: string
              description: "Número de identificación del cliente (cédula)."
            address:
              type: string
              description: "Dirección de residencia del cliente."
            phone:
              type: string
              description: "Número de teléfono del cliente."
            password:
              type: string
              description: "Contraseña de acceso al sistema."
            status:
              type: boolean
              description: "Estado del cliente. True: activo, False: inactivo."

    CustomerPTCRq:
      type: object
      description: "Datos necesarios para la actualización de un cliente."
      required:
        - customer
      properties:
        customer:
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Customer"
          required:
            - name
            - phone
            - age
            - status #TODO: Shouldn't be required
            - genre
            - address
          properties:
            name:
              type: string
              description: "Nombre y apellido del cliente."
            genre:
              type: string
              description: "Género del cliente."
            age:
              type: integer
              description: "Edad del cliente."
            address:
              type: string
              description: "Dirección de residencia del cliente."
            phone:
              type: string
              description: "Número de teléfono del cliente."
            status:
              type: boolean
              description: "Estado del cliente. True: activo, False: inactivo."

    CustomerPTCRs:
      type: object
      description: "Retorna el código interno del cliente actualizado."
      required:
        - customer
      properties:
        customer:
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Customer"
          required:
            - id
          properties:
            id:
              type: integer
              description: "Código interno del cliente.s"
              format: int64
              nullable: true

    CustomerDELRs:
      type: object
      description: "Retorna el código interno del cliente eliminado lógicamente del sistema."
      required:
        - customer
      properties:
        customer:
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Customer"
          required:
            - id
          properties:
            id:
              type: integer
              description: "Código interno del cliente.s"
              format: int64
              nullable: true
    # DTOS: API ACCOUNTS
    
    AccountGETAllRs:
      type: object
      description: "Retorna una lista de las cuentas registradas en el sistema."
      required:
        - accounts
      properties:
        accounts:
          type: array
          items:
            allOf:
              - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Account"
              - type: object
            required:
              - id
              - number
              - initBalance
              - balance
              - type
              - status
              - customer
            properties:
              id:
                type: integer
                description: "Código interno de la cuenta."
                format: int64
              number:
                type: string
                description: "Número de cuenta."
              type:
                type: string
                description: "Tipo de cuenta. Ahorros | Corriente."
              initBalance:
                type: number
                description: "Saldo inicial de la cuenta."
              balance:
                type: number
                description: "Saldo actual de la cuenta."
              status:
                type: boolean
                description: "Estado de la cuenta. True: activa, False: inactiva."
              customer:
                type: object
                description: "Cliente asociado a la cuenta."
                required:
                  - id
                properties:
                  id:
                    type: integer
                    description: "Código interno del cliente."
                    format: int64
                  identification:
                    type: string
                    description: "Número de identificación del cliente."

    AccountGETByAccountNumberRs:
      type: object
      description: "Respuesta del la consulta de una cuenta por el número de cuenta."
      required:
        - account
      properties:
        account:
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Account"
          required:
            - id
            - number
            - initBalance
            - balance
            - type
            - status
            - customer
          properties:
            id:
              type: integer
              description: "Código interno de la cuenta."
              format: int64
            number:
              type: string
              description: "Número de cuenta."
            type:
              type: string
              description: "Tipo de cuenta. Ahorros | Corriente."
            initBalance:
              type: number
              description: "Saldo inicial de la cuenta."
            balance:
              type: number
              description: "Saldo actual de la cuenta."
            status:
              type: boolean
              description: "Estado de la cuenta. True: activa, False: inactiva."
            customer:
              type: object
              description: "Cliente asociado a la cuenta."
              required:
                - id
              properties:
                id:
                  type: integer
                  description: "Código interno del cliente."
                  format: int64
                identification:
                  type: string
                  description: "Número de identificación del cliente."

    AccountGETByCodeRs:
      type: object
      description: "Respuesta del la consulta de una cuenta por el código interno del sistema."
      required:
        - account
      properties:
        account:
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Account"
          required:
            - id
            - number
            - initBalance
            - balance
            - type
            - status
            - customer
          properties:
            id:
              type: integer
              description: "Código interno de la cuenta."
              format: int64
            number:
              type: string
              description: "Número de cuenta."
            type:
              type: string
              description: "Tipo de cuenta. Ahorros | Corriente."
            initBalance:
              type: number
              description: "Saldo inicial de la cuenta."
            balance:
              type: number
              description: "Saldo actual de la cuenta."
            status:
              type: boolean
              description: "Estado de la cuenta. True: activa, False: inactiva."
            customer:
              type: object
              description: "Cliente asociado a la cuenta."
              required:
                - id
              properties:
                id:
                  type: integer
                  description: "Código interno del cliente."
                  format: int64
                identification:
                  type: string
                  description: "Número de identificación del cliente."
    
    AccountPSTRs:
      type: object
      description: "Retorna el código interno de la cuenta creada."
      required:
        - account
      properties:
        account:
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Account"
          required:
            - id
          properties:
            id:
              type: integer
              description: "Código interno de la cuenta"
              format: int64
              nullable: true

    AccountPSTRq:
      type: object
      description: "Datos necesarios para la creación de una cuenta."
      required:
        - account
      properties:
        account:
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Account"
          required:
            - customer
            - initBalance
            - type
          properties:
            customer:
              type: object
              description: "Cliente asociado a la cuenta."
              required:
                - id
              properties:
                id:
                  type: integer
                  description: "Código interno del cliente."
                  format: int64
                # identification:
                #   type: string
                #   description: "Número de identificación del cliente." #TODO: Allow send identification or customer id
            type:
              type: string
              description: "Tipo de cuenta. Ahorros | Corriente."
            initBalance:
              type: number
              description: "Saldo inicial de la cuenta."

    AccountPTCRq:
      type: object
      description: "Datos necesarios para la actualización de una cuenta."
      required:
        - account
      properties:
        account:
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Account"
          required:
            - type
            - status
          properties:
            type:
              type: string
              description: "Tipo de cuenta. Ahorros | Corriente."
            status:
              type: boolean
              description: "Estado de la cuenta. True: activa, False: inactiva."

    AccountPTCRs:
      type: object
      description: "Retorna el código interno de la cuenta actualizada."
      required:
        - account
      properties:
        account:
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Account"
          required:
            - id
          properties:
            id:
              type: integer
              description: "Código interno de la cuenta."
              format: int64
              nullable: true

    AccountDELRs:
      type: object
      description: "Retorna el código interno de la cuenta eliminado lógicamente del sistema."
      required:
        - account
      properties:
        account:
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Account"
          required:
            - id
          properties:
            id:
              type: integer
              description: "Código interno de la cuenta."
              format: int64
              nullable: true

  # DTOS: API TRANSACTIONS
    TransactionGETAllRs:
      type: object
      description: "Retorna todos los movimientos de las cuentas de los clientes."
      required:
        - transactions
      properties:
        transactions:
          type: array
          items:
            allOf:
              - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Transaction"
              - type: object
            required:
              - id
              - date
              - type
              - amount
              - balance
              - account
            properties:
              id:
                type: integer
                description: "Código interno de la transacción."
                format: int64
              date:
                type: string
                description: "Fecha de la transacción."
                format: date-time
              type:
                type: string
                description: "Tipo de transacción. Débito | Crédito."
              amount:
                type: number
                description: "Valor de la transacción."
              balance:
                type: number
                description: "Saldo de la cuenta después de la transacción."
              account:
                type: object
                description: "Cuenta asociada a la transacción."
                required:
                  - id
                properties:
                  id:
                    type: integer
                    description: "Código interno de la cuenta."
                    format: int64
                  number:
                    type: string
                    description: "Número de cuenta."
                    nullable: true

    TransactionGETByAccountNumberRs:
      type: object
      description: "Respuesta del la consulta de las transacciones de una cuenta."
      required:
        - transactions
      properties:
        transactions:
          type: array
          items:
            allOf:
              - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Transaction"
              - type: object
            required:
              - id
              - date
              - type
              - amount
              - balance
              - account
            properties:
              id:
                type: integer
                description: "Código interno de la transacción."
                format: int64
              date:
                type: string
                description: "Fecha de la transacción."
                format: date-time
              type:
                type: string
                description: "Tipo de transacción. Débito | Crédito."
              amount:
                type: number
                description: "Valor de la transacción."
              balance:
                type: number
                description: "Saldo de la cuenta después de la transacción."
              # account:
              #   type: object
              #   description: "Cuenta asociada a la transacción."
              #   required:
              #     - id
              #   properties:
              #     id:
              #       type: integer
              #       description: "Código interno de la cuenta."
              #       format: int64
              #     identification:
              #       type: string
              #       description: "Número de identificación del cliente."

    TransactionGETByCodeRs:
      type: object
      description: "Respuesta del la consulta de una transacción por el código interno del sistema."
      required:
        - transaction
      properties:
        transaction:
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Transaction"
          required:
            - id
            - date
            - type
            - amount
            - balance
            - account
          properties:
            id:
              type: integer
              description: "Código interno de la transacción."
              format: int64
            date:
              type: string
              description: "Fecha de la transacción."
              format: date-time
            type:
              type: string
              description: "Tipo de transacción. Débito | Crédito."
            amount:
              type: number
              description: "Valor de la transacción."
            balance:
              type: number
              description: "Saldo de la cuenta después de la transacción."
            account:
              type: object
              description: "Cuenta asociada a la transacción."
              required:
                - id
              properties:
                id:
                  type: integer
                  description: "Código interno de la cuenta."
                  format: int64
                number:
                  type: string
                  description: "Número de cuenta."
                  nullable: true

    TransactionPSTRs:
      type: object
      description: "Retorna el código interno de la transacción creada."
      required:
        - transaction
      properties:
        transaction:
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Transaction"
          required:
            - id
          properties:
            id:
              type: integer
              description: "Código interno de la transacción."

    TransactionPSTRq:
      type: object
      description: "Datos necesarios para la creación de una transacción."
      required:
        - transaction
      properties:
        transaction:
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Transaction"
          required:
            - type
            - amount
            - account
          properties:
            type:
              type: string
              description: "Tipo de transacción. Débito | Crédito."
            amount:
              type: number
              description: "Valor de la transacción."
            account:
              type: object
              description: "Cuenta asociada a la transacción. Se especifica el código interno o el número de cuenta."
              required:
                - id
                - number
              properties:
                id:
                  type: integer
                  description: "Código interno de la cuenta."
                  format: int64
                  nullable: true
                number:
                  type: string
                  description: "Número de cuenta."
                  nullable: true

    TransactionReportGETByCustomerIdentificationRs:
      type: object
      description: "Respuesta de la consulta de los movimientos de un cliente por su identificación."
      required:
        - customer
        - transactions
      properties:
        customer:
          type: object
          allOf:
            - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Customer"
          required:
            - id
            - identification
            - name
          properties:
            id:
              type: integer
              description: "Código interno del cliente."
              format: int64
            identification:
              type: string
              description: "Número de identificación del cliente."
            name:
              type: string
              description: "Nombre del cliente."
        transactions:
          type: array
          items:
            allOf:
              - $ref: "SOFKADomains-v0-0-1.yaml#/components/schemas/Transaction"
              - type: object
            required:
              - id
              - date
              - type
              - amount
              - balance
              - account
            properties:
              id:
                type: integer
                description: "Código interno de la transacción."
                format: int64
              date:
                type: string
                description: "Fecha de la transacción."
                format: date-time
              type:
                type: string
                description: "Tipo de transacción. Débito | Crédito."
              amount:
                type: number
                description: "Valor de la transacción."
              balance:
                type: number
                description: "Saldo de la cuenta después de la transacción."
              account:
                type: object
                description: "Cuenta asociada a la transacción."
                required:
                  - id
                properties:
                  id:
                    type: integer
                    description: "Código interno de la cuenta."
                    format: int64
                  number:
                    type: string
                    description: "Número de cuenta."
                    nullable: true
  